:root {
    --HeaderColour: #777b7e;
    --FooterColour: #777b7e;
    --ButtonColour: #777b7e;
    --BackgroundColour: #fff7b2;


}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #fff7b2;
}

header {
    height: 10vh;
    width: 100vw;
    background: var(--HeaderColour);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    height: 8vh;
    width: 100vw;
    background: var(--FooterColour);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
}

main {
    height: 8vh;
    width: 100vw;
    background: var(--BackgroundColour);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    height: 8vh;
    width: 100vw;
    background: var(--ButtonColour);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}

.logo {
    height: 8vh;
    width: 100vw;
    background: var(--HeaderColour);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
